/*
	Color palette
	Dark: #3F1C03;
	Medium: #723903;
	Regular: A65304;
	Muted: #C2ADA9;
	Light: #F2EAE6;
*/

/* General Styles */
.business-header {
    height: 120px;
    background-image: url("../images/pattern.jpg");
    background-repeat: repeat;
    border-bottom: 1px solid #C2ADA9;
}
@media(max-width: 460px){
	.business-header{
		height: 140px;
	}
}

/* Headers */
h1.tagline{
	padding: 10px 20px;
	margin-top: 20px;
	font-size: 1.8em;
}

/* Table Styles */
.table>thead>tr>th {
    border-bottom: 2px solid #F2EAE6;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    border-top: 1px solid #F2EAE6;
}
table {
	margin-top: 40px;
	border-radius: 2px;
}
caption {
	font-size: 1.4em;
	color: #A65304;
}

/* Table Link Styles */
td a {
	color: #723903;
}
td a:hover {
	color: #A65304;
}
